# Microsoft Graph API (Office 365 Email)
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
OFFICE365_SENDER_EMAIL=

# reCAPTCHA v3
RECAPTCHA_SECRET_KEY=

# Site URL
SITE_URL=https://ecomagsas.com
