@charset "utf-8";
/*----------------------------------------------------
@File: Default Styles
@Author: Freddy J Pereira
@URL:https://www.fjpycia.com
@Version: 1.0
*/
/* CSS Document 
body {
	font-family: "Montserrat", Arial, serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}*/
#oc, #tdc, #amb, #adp {
    display: flex;
    bottom: 2%;
    margin-top: 5px;
}
#as_1, #as_2, #as_3 {
    margin-top: 15px;
    display: flex;
    bottom:2%;
}
section{
    padding: 30px 0px;
    max-width: 1920px;
}
/* Text */
h1,h2,h3,h4,h5, h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight: 700;
}

p,.p {
	margin: 0px 10px 10px 10px;
    padding: 0px 10px 10px 10px;
}
.item_nhistoria {
    margin: auto 0px;
    padding: 15px 0px;
    display: inline-grid;
    align-self: center;
}
.item_nhistoria i{
    text-align: center;
    margin-left: 5%;
    margin-right: 65%;
    padding: 4px 15px;
    border: medium solid #9E0002;
    border-radius: 50px 0px;
    color: #FFFFFF;
    background: #560404;
}
.item_nhistoria i:before{
  content: "* ";
}
.item_nhistoria i:after{
    content:" *";
}
.item_nhistoria p{
    padding: 15px 0;
    margin: auto 25px;
    text-align: justify;
}
#nhistoria2{
    background-color: #fff5f5;
}
#nhistoria3{
    background-color: #F1F1F1;
}
/*Borders */
.bcircle-gray{
    border: 10px solid rgba(176,176,176,0.73);
}
.bcircle-green{
    border: 20px solid rgba(165,205,114,0.78);
}
.btriangle{
    border: 10px solid rgba(176,176,176,0.73);
    border-radius: 200px 200px 20px;
}


/* Imagenes */
img, .img {
	vertical-align: middle;
    transition:all 0.3s ease-in-out 0s;
}
a > .img:hover, a > img:hover{
	opacity: 0.5;
}

/*Imagenes de Fondo por seccion*/
.img_service{
    background-image:url("../images/bg/top_service.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
}
.img_clientes{
    background-image:url("../images/bg/bg_1a.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
}
.img_qsomos{
    background-image:url("../images/bg/bg_qsomos.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
}
.img_contact{
    background-image:url("../images/bg/bg_2.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
}
.img_jobs{
    background-image:url("../images/bg/bg_jobs.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center center;
	background-repeat: no-repeat;
}
.img_nflota{
    background-image:url("../images/bg/topflota.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
}
.img_HSEQ{
    background-image:url("../images/bg/bg_5.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: top center;
	background-repeat: no-repeat;
}
.img_agencias{
    background-image:url("../images/bg/bg_agencias.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
}
/*Fondos */
.bg-media{
    background-color: rgba(236,236,236,0.90);
}
.bg-green {
	background-color: #136E34;
    color: #FFFFFF;
}
.bg-gray{
    background-color: #E0E0E0;
    color:#000000;
}
.bg-40red{
	background-color:#AA0002;
	color: #FFFFFF;
}
/* Colores de Fondo de secciones*/
.section-title{
    padding: 40px 5% 20px;
    margin: 0 0 15px 0;
}
.section_green{
    background-color: #20A311;
    border-bottom: thick solid #74D96C;
    color: #FFFFFF;
}
.section_blue{
	background-color: #00597E;
	border-bottom: thick solid #6CD9D0;
	color: #FFFFFF;
}
.section_gray80{
    background-color: #575756;
    border-bottom: thick solid #74D96C;
    color: #FFFFFF;
}
.section_gray{
    background-color: #555555;
    border-bottom: thick solid #74D96C;
    color: #FFFFFF;
}
.section_red{
    background-color: #AA0002;
    border-bottom: thick solid #CD5454;
    color: #FFFFFF;
}
.section_red50b{
    background-color: #8a1002;
    border-bottom: thick solid #CD5454;
    color: #FFFFFF;
}
.shadow{
    background-image: url(../images/sombra.png);
    background-blend-mode: multiply;
    background-position: bottom center;
    background-repeat: no-repeat;
}
/* Footer Section */
footer{
    width: 100%;
	padding: 2rem 1rem 0;
	background-image: url(../images/sombra.png);
	background-blend-mode: multiply;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	border-top: thick solid #AB0002;
}
.footerl2 {
    padding: 6px 0 0;
	background-color: #454545;
	color: #FFFFFF;
}
.footerl2 a{ color:#FFFFFF;}

.copyright {
    padding: 7px 0 0;
	background-color: #000000;
	color: #FFFFFF;
}
.copyright a{ color: gray;}

/* Botones */
a {
    color: #9F9F9F;
	background-color: transparent;
}
a:active, a:focus, a:hover {
	font-weight: 500;
}

/* NavBar */
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    border:none;
  color: #FFFFFF;
}
.nav-item, .nav-item-rs{
	padding: 5px 0.5rem;
    transition: all 0.3s linear 0s;
}
.nav-item:hover, .nav-item:active{
   background-color: rgba(107,0,1,0.80);
}
.nav-item-rs a:hover, .nav-item-rs:hover{
	background-color: #6B0001;
	color: #FFFFFF;
}
.dropdown-menu{
	background-color: rgba(255,255,255,0.90);
}
.dropdown-item:hover{
    color: #FFFFFF;
    background-color: rgba(107,0,1,0.50);
}
.navbar-brand > img {
    position: absolute;
	top: -20px;
    left: -200px;
    height: 150px;
    z-index: 500;
    transition:all 0.3s ease-in-out 0s;
}
.navbar-brand > img:hover {
	opacity: 0.3;
}

/*------------------------------------
Icon Whatapp chat
------------------------------------*/
.whatsapp {
    transition:all 0.3s ease-in-out 0s;
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 5%;
	right: 1%;
    text-align: center;
	background-color: rgba(31,177,85,0.80);
	color: #FFFFFF;
	border-radius: 50px;
	font-size: 30px;
	z-index: 500;
}
.whatsapp:hover {
	background-color: #077831;
	color: #FFFFFF;
}
.whatsapp-icon {
    color: white;
    margin: 15px;
}
/*AREA DE CIFRAS*/
.ncifras{
	text-transform: uppercase;
    background-image: url("../images/bg_scrore.gif");
	background-color: #6E0001;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
	padding: 80px 10px;
}
.ncifras ul {
    margin: auto;
    width: 90%;
    padding: 0;
    display: flex;
}
.ncifras .h1 {
    color: white;
}
.ncifras li{
    width: 20%;
    padding: 0;
    list-style: none;
    color: #FFFFFF;
}
.ncifras hr{
    background-color: #FFFFFF;
    color: #FFFFFF;
}
.counter {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
}

/*- Slider Clientes ---------------------------------------------------  */
.c-slider{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.c-slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: nextslider 30s infinite alternate;
    animation-timing-function: ease-in-out;
}
.c-slider li{
    list-style: none;
}

.c-slider img{
    width: 100%;
    list-style: none;
}
/* slider  de 22 fotos*/
.cs-slider{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.cs-slider ul{
    padding: 0;
    display: flex;
    width: 600%;
    max-height: 50%;
    animation: nextslider 40s infinite alternate;
    animation-timing-function: ease-in-out;
}
.cs-slider li{
    list-style: none;
}

.cs-slider img{
    width: 100%;
    list-style: none;
}

@keyframes nextslider{
    0% {margin-left: 0;}
    100% {margin-left: -100%;}
}

/*- display Block ---------------------------------------------------  */

/*Imagenes galeria*/
.photo-item{
    position: relative;
	padding: 5px 5px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    height: 150px;
    overflow: hidden;
	vertical-align: middle;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
    transition:all 0.3s ease-in-out 0s;
}
.photo-item:hover{
    width: auto;
    height: auto;
}
.img-gal {
	opacity: 0.6;
    transition:all 0.3s ease-in-out 0s;
}
.img-gal:hover {
    opacity: 1;
    border-left: 3px solid #AD0002;
}

.card ul {
    list-style: none;
    width: 95%;
    margin: auto;
    padding: 0;
}
.card li:before{
    content: "*";
}
.nav-tabs {
    padding: 0;
    margin: 0;
}
.nav-tabs ul{
    margin: 98% 0;
}
.nav-tabs a{
    color: #8A0609;
    font-size: 0.85em;
    line-height: 0.95em;
}
.nav-tabs li, .nav-tabs a{
    padding: 5px;
    margin: 1px auto;
    text-align: center;
    color: #8A0609;
}
.nav-tabs .nav-link:hover, .nav-tabs a:hover{
    font-size: 0.9em;
	background-color: #560001;
    color: #FFFFFF;
}

@media screen and (max-width:720px){
.c-slider ul{
    width: 1700%;
}
.navbar-brand > img {
    height: 80px;
}
.ncifras li{
    display: block;position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-brand > img {
    top: -10px;
    left: 0px;
}    
.section-title > img{
display: none;
}
.section-title .h1{
    font-size: 10px;
}
.section-title{
	padding-top: 50px;
}
.dropdown-menu{
    color: #FFFFFF;
    background-color: transparent;
}
.dropdown-item:hover{
   background-color: rgba(107,0,1,0.50);
}
.photo-item{
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
    transition:all 0.3s ease-in-out 0s;
}
 .nav-tabs li{
    width: 100%;
    margin: auto 0;
    padding: 0px;
    border-radius: 5px;
}
}
.card-header {
  background-color: #AA0002;
}
.card-header a{
  color: #FFFFFF;
}
.card-body i {
  color: #AA0002;
}
.card-body a {
  color: #4A4A4A;
}
.tab-content {
    background-image: url("../images/bg_politicas.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
/*Animation delay*/
.delay-1 {
  animation-delay: 1.1s;
}
.delay-2 {
  animation-delay: 1.2s;
}
.delay-3 {
  animation-delay: 1.3s;
}
.delay-4 {
  animation-delay: 1.4s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.6s;
}
@media screen and (min-width:992px) and (max-width:1208px){
.card-body > h4{
        font-size: 1.3em;
    }
}
circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
    }
